

.header-section
{

@media screen and (max-width: $mobile-top){
    position: relative;
    
}
}



.nav-header
{
    
    display: flex;
    
    
    
}

.nav-menu
{
   
    
    @media screen and (min-width: $tablet){
        margin-right: 84px;
        
    }

    @media screen and (min-width: $desctop){
        margin-right: 281px;
        
    }

}





   



.nav-item
{
    position: relative;

    &:not(:last-child)
    {
        margin-right: 50px;

    }
}







.nav-link
{

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primery-text-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    @include animation (color);


    &:hover,
    &:focus
{
    color:$accent-color-blue;

}
}






.active 
{
    color: $accent-color-blue;
}

.active::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color-blue;
}



.header-container
{
    display: -webkit-box;
    align-items: center;
    justify-content: space-between;
}


.header-menu
{
    display: flex;
    align-items: center;

    @media screen and (max-width: $mobile-top){
        position: absolute;
        
        display: none;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: yellow;
        &.is-open
        {
            display: block;
        }
    }
}

.address-contact
{
    display: flex;
   
    

    @media screen and (max-width: $tablet-top){
        
        flex-direction: column;
        
    }

    @media screen and (min-width: $desctop)
    {margin-left: auto;
    }
}


.nav-contacts
{
  
    display: flex;
    align-items: center;
    color: $accent-color;
    text-decoration: none;
    font-style: normal;
    @include animation (color);

    &:hover,
    &:focus
{
    color:$accent-color-blue;
}

@media screen and (max-width: $tablet-top){
    
    font-size: $tablet-font-size;
    letter-spacing: $tablet-letter-spacing;
    line-height: $tablet-line-height;
     &:not(:last-child)
     {margin-bottom: 10px;}
}


@media screen and (min-width: $desctop){
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child)
    {
        margin-right: 30px;
    }


  }

}









.icon-header
{
   
    margin-right: 8px;
    fill: $accent-color;
    @include animation (fill);

    @media screen and (min-width: $desctop){
        margin-right: 10px;
    }
}


.nav-contacts:hover .icon-header
{
    fill: $accent-color-blue;
}



.button
{
    font-weight: 700;
    line-height: 1.88;
    display: inline-block;
    min-width: 200px;
    color: $secondary-text-color;
    background-color: $accent-color-blue;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    @include animation (color);


    &:hover,
    &:focus
{
    color: $button-hover-color;
}
    
}

.mobile-button
{
    @media screen and (min-width: $mobile-top) {
        display: none;

        
    }
   
    
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
   
    &:hover,
    &:focus
    {
        cursor: pointer;
        fill: $accent-color-blue;
    }
}

.icon-close-mobile
{
    display: none;
}

.mobile-button.is-open .icon-close-mobile
{
    display: block;
}

.mobile-button.is-open .icon-open-mobile
{
    display: none;
}




.button.primery
{
    padding: 10px 32px;
}

.button.secondary
{
    display: flex;
    padding: 10px 28px;
    align-items: center;
}