   $mobile: 480px;
   $mobile-top: 767px;
   $tablet: 768px;
   $tablet-top: 1199px;
   $desctop: 1200px;
   
   
   
   $primery-text-color: #212121;
    $secondary-text-color:  #FFFFFF;
    $accent-color: #757575;
    $accent-color-blue: #2196F3;
    $secondary-color: #AFB1B8;
    $main-font-family: 'Roboto', sans-serif;
    $main-font-size: 14px;
    $tablet-font-size: 12px;
    $title-font-size: 36px;
    $main-line-height: 1.14;
    $tablet-line-height: 1.17;
    $title-line-height: 1.17;
    $main-font-weight: 500;
    $title-font-weight: 700;
    $main-letter-spacing: 0.03em;
    $tablet-letter-spacing: 0.02em;
    $main-bg-color: #FFFFFF;
    $main-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    $button-hover-color: #2F303A;
    
    



    // logo styles
    $logo-font-family: 'Raleway', sans-serif;
    $logo-font-size-mobile: 24px;
    $logo-font-size: 26px;
    $logo-font-sixe-secondary: 22px;
    $logo-primery-color: #000000;
    $logo-secondary-color:#2196F3;
    $logo-line-height-mobile: 1.17;
    $logo-line-height: 1.2;
    $logo-font-weight: 700;